<form
        method="post"
        action="{{ path('app_announcement_delete', {'id': announcement.id}) }}"
        onsubmit="return confirm('Weet je zeker dat je deze aankondiging wilt verwijderen?');"
>
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ announcement.id) }}">
    <button class="btn btn-sm btn-outline-danger">
        <i class="bi bi-trash me-1"></i> Verwijderen
    </button>
</form>
