{% extends 'base.html.twig' %}

{% block title %}Open Positions{% endblock %}

{% block body %}
    <h1>Open Positions</h1>
    <p>There are currently no open positions. Check back later!</p>
{% endblock %}
